# Packages for the Thoth project
thoth-adviser
thoth-analyzer
thoth-common
thoth-digests-fetcher
thoth-lab
thoth-package-extract
thoth-python
thoth-solver
thoth-storages

# Some additional libraries worth to include and state explicitly
dash
holoviews
matplotlib
networkx
numpy
pandas
plotly
plotnine
requests
scikit-learn
scipy
seaborn

# JupyterHub extensions
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator

# These are from actual s2i minimal notebook image
#  https://github.com/jupyter-on-openshift/jupyter-notebooks/tree/master/scipy-notebook
ipywidgets==7.2.*
pandas==0.23.*
numexpr==2.6.*
matplotlib>=3.0.0  # from plotnine
scipy==1.1.*
seaborn==0.9.*
scikit-learn==0.20.*
scikit-image==0.14.*
sympy==1.1.*
cython==0.28.*
patsy==0.5.*
statsmodels==0.9.*
cloudpickle==0.5.*
dill==0.2.*
numba==0.38.*
bokeh==0.13.*
sqlalchemy==1.2.*
#hdf5==1.10.*
h5py==2.7.*
vincent==0.4.*
beautifulsoup4==4.6.*
protobuf==3.*
xlrd==1.2.*
