# Packages for the Thoth project
thoth-adviser>=0.0.2
thoth-analyzer>=0.0.5
thoth-common>=0.0.3
thoth-lab>=0.0.3
thoth-package-extract>=1.0.0
thoth-solver>=1.0.2
thoth-storages>=0.0.16

# Some additional libraries worth to include and state explicitly
dash
holoviews
matplotlib
networkx
numpy
pandas
plotly
requests
scikit-learn
scipy
seaborn

# These are from actual s2i minimal notebook image
#  https://github.com/jupyter-on-openshift/jupyter-notebooks/tree/master/scipy-notebook
ipywidgets==7.0.*
pandas==0.19.*
numexpr==2.6.*
matplotlib==2.0.*
scipy==0.19.*
seaborn==0.7.*
scikit-learn==0.18.*
sympy==1.0.*
cython==0.25.*
patsy==0.4.*
statsmodels==0.8.*
cloudpickle==0.2.*
dill==0.2.*
numba==0.31.*
bokeh==0.12.*
sqlalchemy==1.1.*
h5py==2.6.*
vincent==0.4.*
beautifulsoup4==4.5.*
protobuf==3.*
xlrd==1.1.*
